<template>
  <div class="description">
    <h1 class="text-align-center uppercase">{{ product.name }}</h1>
    <div class="p-1 bg-grey">
      <List :list="description.list"></List>
    </div>
  </div>
</template>

<script>
import List from "@/components/List.vue";
export default {
  components: {
    List
  },
  props: ['description', 'product']
};
</script>

<style>
.bg-grey {
  background-color: #fafafa;
}
.p-1 {
  padding: 0.5rem;
}
.uppercase {
  text-transform: uppercase;
}
</style>