<template>
  <div>
    <div class="logo">
      <img src="../../img/logo_tediber_desktop.png" alt="">
    </div>
    <div class="product-sheet">
      <Slider :photos="photos"></Slider>
      <div class="col-right">
        <Description :description="description" :product="product"></Description>
        <hr>
        <Selector :selector="selector" :product="product"></Selector>
      </div>
    </div>
  </div>
</template>

<script>
import Slider from "./Slider.vue";
import Description from "./Description";
import Selector from "./selector/Selector.vue";
import axios from 'axios';
export default {
  name: 'ProductSheet',
  components: {
    Slider,
    Description,
    Selector
  },
  data () {
    return {
      product: {},
      photos: [
        {
          id: 0,
          path: '../../img/slider.jpeg'
        }
      ],
      description: {
        list: {
          1: 'Canapé 2-3 places design et ultra confortable',
          2: 'Matériaux et design haut de gamme à un prix incomparable',
          3: 'Fabriqué en France et éco-conçu',
          4: 'Entretien facile, coussins déhoussables et lavables'
        }
      },
      selector: {
        title: 'JE PARAMÈTRE MON CANAPÉ',
        steps: ['LA DIMENSION', 'LA COULEUR DE MON CANAPÉ', 'LA FORME DES PIEDS', 'LA COULEUR DES PIEDS'],
        cta: 'AJOUTER AU PANIER'
      }
    }
  },
  mounted() {
    axios.get('api.json')
        .then(response => {
          this.product = response.data;
          console.log(this.product)
        })
        .catch(error => {
          console.log(error)
        })
  }
};
</script>

<style>
body {
  font-family: "Gill Sans Std Light", sans-serif;
  color: #262b55;
}
h1, h2, h3 {
  font-family: "Gill Sans Std", sans-serif;
}
.h2 {
  font-family: "Gill Sans Std", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.mt-0 {
  margin-top: 0;
}
.m-1 {
  margin: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.text-align-center {
  text-align: center;
}
hr {
  border: .05rem solid #a5aad6;
  margin: 2rem 0;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
.logo img {
  width: 330px;
}
.product-sheet {
  display: flex;
}
.col-right {
  width: 35%;
  padding: 0 1rem;
  max-height: 80vh;
  overflow: scroll;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
@media all and (max-width: 1499px) {
  .logo img {
    width: 200px;
  }
}
@media all and (max-width: 1199px) {
  .logo img {
    width: 150px;
  }
}
@media all and (max-width: 998px) {
  .product-sheet {
    flex-direction: column;
  }
  .col-right {
    max-height: none;
    width: 100%;
  }
}
</style>
