<template>
  <div class="slider">
    <div v-for="photo in photos" :key="photo.id">
<!--      <img :src="photo.path" alt ="" />-->
      <img src="../../img/slider.jpeg" alt="">
    </div>
  </div>
</template>
<script>
export default {
  name: 'Slider',
  props: ['photos']
}
</script>

<style>
.slider {
  width: 65%;
}
img {
  max-width: 100%;
}
@media all and (max-width: 998px) {
  .slider {
    width: 100%;
  }
}
</style>